<!DOCTYPE html>

<html>
    <head>
        <title>DDSS PA2 - Part 1.3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script th:inline="javascript"> 
            function popup(text){
                alert(text);
            }
          
        </script>
    </head>
    <body>
        <form th:action="@{/index}" method="get" >
            <button type="submit" style="position:absolute; top:0; left:0; margin-top:1%; margin-left:1%;">Back to Index</button>
        </form>
        <div align="center">

            <h1>Design and Development of Secure Software</h1>
            <h2>Practical Assignment #2 - Part 1.3</h2>
            <div align="center">
                DISCLAIMER: This code is to be used in the scope of the <em>DDSS</em> course.
            </div>
            <br>
            <br>
            
            <div class="row" style = "margin-left:-6px; margin-right:-6px;">
                <div class="column" style="float: left; width: 37.5%; padding: 10px;">
                    <form th:action="@{/part1_3_vulnerable_post}" th:object="${formbook}" method="get">
                        <table border="1" cellpadding="1" style="font-size: 10pt; width: 400px; ">
                            <thead>
                                <tr>
                                    <th colspan="2" style="font-size: 12pt;"><b>Part 3.0 - Vulnerable Form</b></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td valign="middle">Title</td>
                                    <td style="border-width: 1pt"><input type="text"  name="c_name" maxlength="200"  value="" size="20" th:field="*{title}"></td>
                                </tr>
                                <tr>
                                    <td valign="middle">Author</td>
                                    <td style="border-width: 1pt"><input type="text"  name="c_author" maxlength="100"  value="" size="20" th:field="*{authors}"></td>
                                </tr>

                                <tr>
                                    <td valign="middle">Category</td>
                                    <td style="border-width: 1pt"><select name="c_category_id" th:field="*{category}">
                                        <option value="All">All</option>
                                        <option value="Databases" >Databases</option>
                                        <option value="HTML & Web design" >HTML &amp; Web design</option>
                                        <option value="Programming" >Programming</option>
                                    </select></td>
                                </tr>
                                <tr>
                                    <td valign="middle">Price more then</td>
                                    <td style="border-width: 1pt"><input type="text"  name="c_pricemin" maxlength="100" value="" size="10" th:field="*{price_more}"></td>
                                </tr>
                                <tr>
                                    <td valign="middle">Price less then</td>
                                    <td style="border-width: 1pt"><input type="text"  name="c_pricemax" maxlength="100" value="" size="10" th:field="*{price_less}"></td>
                                </tr>


                                <tr>
                                    <td colspan="2" align="center" valign="middle">Advanced</td>
                                </tr>
                                <tr>
                                    <td valign="middle">
                                        Search For:<br>
                                    </td>
                                    <td >
                                        <input size=35 name="c_search_input" th:field="*{search_for}">
                                    </td>
                                </tr>
                                <tr><td valign="middle">
                                        Within: 
                                    </td><td><select name="c_search_field" size=1 th:field="*{within}">
                                            <option value="any" selected>Anywhere</option>
                                            <option value="title">Title</option>
                                            <option value="authors">Authors</option>
                                            <option value="desc">Description</option>
                                            <option value="keys">Keywords</option>
                                            <option value="notes">Notes</option>
                                        </select>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td valign="middle">
                                        Match: 
                                    </td>
                                    <td>
                                        <input type=radio name="c_radio_match" value="any" checked="checked" th:field="*{match}">Any word <br>
                                        <input type=radio name="c_radio_match" value="all" th:field="*{match}">All words <br>
                                        <input type=radio name="c_radio_match" value="phrase" th:field="*{match}">Exact phrase<br>
                                    </td>
                                </tr>
                                <!-- Date range criteria -->
                                <tr>
                                    <td colspan="2" align="center">Date</td>
                                </tr>
                                <tr>
                                    <td align=right>
                                        <input type=radio name="c_sp_d" value="custom" checked th:field="*{date}">
                                    </td>
                                    <td>
                                        <select name="c_sp_date_range" size=1 th:field="*{date_range}">
                                            <option value=0 selected>Anytime</option>
                                            <option value=7>Within the last week</option>
                                            <option value=14>Within the last 2 weeks</option>
                                            <option value=30>Within the last 30 days</option>
                                            <option value=60>Within the last 60 days</option>
                                            <option value=90>Within the last 90 days</option>
                                            <option value=180>Within the last 180 days</option>
                                            <option value=365>Within the last year</option>
                                            <option value=730>Within the last two years</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan=2 align=right>
                                        <input type=radio name="c_sp_d" value=specific th:field="*{date}">
                                    </td>
                                    <td>From:
                                        <select name="c_sp_start_month" size=1 th:field="*{from_month}">
                                            <option value=0 selected></option>
                                            <option value=1>January</option>
                                            <option value=2>February</option>
                                            <option value=3>March</option>
                                            <option value=4>April</option>
                                            <option value=5>May</option>
                                            <option value=6>June</option>
                                            <option value=7>July</option>
                                            <option value=8>August</option>
                                            <option value=9>September</option>
                                            <option value=10>October</option>
                                            <option value=11>November</option>
                                            <option value=12>December</option>
                                        </select>
                                        <select name="c_sp_start_day" size=1 th:field="*{from_day}">
                                            <option value=0 selected></option>
                                            <option value=1>1</option>
                                            <option value=2>2</option>
                                            <option value=3>3</option>
                                            <option value=4>4</option>
                                            <option value=5>5</option>
                                            <option value=6>6</option>
                                            <option value=7>7</option>
                                            <option value=8>8</option>
                                            <option value=9>9</option>
                                            <option value=10>10</option>
                                            <option value=11>11</option>
                                            <option value=12>12</option>
                                            <option value=13>13</option>
                                            <option value=14>14</option>
                                            <option value=15>15</option>
                                            <option value=16>16</option>
                                            <option value=17>17</option>
                                            <option value=18>18</option>
                                            <option value=19>19</option>
                                            <option value=20>20</option>
                                            <option value=21>21</option>
                                            <option value=22>22</option>
                                            <option value=23>23</option>
                                            <option value=24>24</option>
                                            <option value=25>25</option>
                                            <option value=26>26</option>
                                            <option value=27>27</option>
                                            <option value=28>28</option>
                                            <option value=29>29</option>
                                            <option value=30>30</option>
                                            <option value=31>31</option>
                                        </select>
                                        <input size=4 pattern="[0-9]*" name="c_sp_start_year" th:field="*{from_year}">
                                    </td></tr>
                                <tr>
                                    <td>To:
                                        <select name="c_sp_end_month" size=1 th:field="*{to_month}">
                                            <option value=0 selected> </option>
                                            <option value=1>January</option>
                                            <option value=2>February</option>
                                            <option value=3>March</option>
                                            <option value=4>April</option>
                                            <option value=5>May</option>
                                            <option value=6>June</option>
                                            <option value=7>July</option>
                                            <option value=8>August</option>
                                            <option value=9>September</option>
                                            <option value=10>October</option>
                                            <option value=11>November</option>
                                            <option value=12>December</option>
                                        </select>
                                        <select name="c_sp_end_day" size=1 th:field="*{to_day}">
                                            <option value=0 selected></option>
                                            <option value=1>1</option>
                                            <option value=2>2</option>
                                            <option value=3>3</option>
                                            <option value=4>4</option>
                                            <option value=5>5</option>
                                            <option value=6>6</option>
                                            <option value=7>7</option>
                                            <option value=8>8</option>
                                            <option value=9>9</option>
                                            <option value=10>10</option>
                                            <option value=11>11</option>
                                            <option value=12>12</option>
                                            <option value=13>13</option>
                                            <option value=14>14</option>
                                            <option value=15>15</option>
                                            <option value=16>16</option>
                                            <option value=17>17</option>
                                            <option value=18>18</option>
                                            <option value=19>19</option>
                                            <option value=20>20</option>
                                            <option value=21>21</option>
                                            <option value=22>22</option>
                                            <option value=23>23</option>
                                            <option value=24>24</option>
                                            <option value=25>25</option>
                                            <option value=26>26</option>
                                            <option value=27>27</option>
                                            <option value=28>28</option>
                                            <option value=29>29</option>
                                            <option value=30>30</option>
                                            <option value=31>31</option>
                                        </select>
                                        <input size=4 pattern="[0-9]*" name="c_sp_end_year" th:field="*{to_year}">
                                    </td></tr>


                                <tr>
                                    <td colspan="2" align="center"> </td>
                                </tr>

                                <!-- List box selects number of results to show per page -->
                                <tr>
                                    <td valign="middle">
                                        Show: 
                                    </td>
                                    <td>
                                        <select name="c_sp_c" size=1 th:field="*{show_results}">
                                            <option value=5>5</option>
                                            <option value=10 selected>10</option>
                                            <option value=25>25</option>
                                            <option value=50>50</option>
                                            <option value=100>100</option>
                                        </select> results 
                                        <!-- Show or hide summaries in search results -->
                                        <select name="c_sp_m" size=1 th:field="*{show_summaries}">
                                            <option value=1 selected>with</option>
                                            <option value=0>without</option>
                                        </select> summaries<br>
                                    </td>
                                </tr>
                                <!-- Sort results by relevance or by date -->
                                <tr>
                                    <td valign="middle">
                                        Sort by: 
                                    </td>
                                    <td >
                                        <select name="c_sp_s" size=1 th:field="*{sort_by}">
                                            <option value="recomendation" selected>relevance</option>
                                            <option value="book_date">date</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="right" colspan="2"><button type="submit">Search</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form> 
                </div>
                
                <br><br>

                <div class="column">
                    <table  border="1" cellpadding="1" style="font-size: 10pt; width: 700px; text-align: center;" >
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Authors</th>
                                <th>Category</th>
                                <th>Publication Date</th>
                                <th>Recomendation</th>
                                <th>Notes</th>
                                <th>Keywords</th>
                                <th>Price</th>
                                <th th:if="${show_description}">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${books != null && books.size() > 0}" th:each="b : ${books}">
                                <td> [(${b.title})]</td>
                                <td> [(${b.authors})]</td>
                                <td> [(${b.category})]</td>
                                <td> [(${#temporals.format(b.book_date)})]</td>
                                <td> [(${b.recomendation})]</td>
                                <td> [(${b.notes})]</td>
                                <td> [(${b.keywords})]</td>
                                <td> [(${b.price})]</td>
                                <td th:if="${show_description}">
                                    <button th:data-parameter1="${b.description}" 
                                            onclick="popup(this.getAttribute('data-parameter1'));">
                                            Show
                                    </button>
                                </td>
                            </tr>
                            <tr th:if="${books != null && books.size() <= 0}">
                                <td colspan="9" >Nothing found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>